 * {
    margin: 0;
    padding: 0;
} 

body {
    background-color: #374357;
    font-family: sans-serif;
}

li,h1,a,button {
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
}

header {
    background-color: #4d648d;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    margin-right: auto;
}

li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

a {
    transition: all 0.3s ease 0s;
}

a:hover {
    color: #1f2b3e;
}

button {
    padding: 10px 25px;
    background-color:#0F1C2E;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 20px;
    transition: all 0.3s ease 0s
}

button:hover {
    background-color: #374357;
    color: #e0e0e0;
}