body {
    background: skyblue;
    align-items: center;
    justify-content: center;
    gap: 20px;
    display: flex;
    height: 100vh;
}

.box {
    position:relative;
    height: 100px;
    width: 100px;
    border-radius: 12px;
    border: 2px solid black;
}

.image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/nice.jpg);
}


