body {
    background: linear-gradient(45deg, red,blue,orange,blueviolet);
    background-size: 900% 300%;
    height: 90vh;
    animation-name: gradient-animation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes gradient-animation {
    from {
        background-position: 0%;
    }

    to {
        background-position: 100%;
    }
}
